<html>
<head>
    <link href="/static/css/home.css" rel="stylesheet">
    <script src="/static/js/home.js"></script>
</head>
<body>
<div id="container">
    <!-- main div -->
    <div>
        <img id="logo" src="/static/image/logo.svg">
    </div>
</div>
</body>
</html>