<html>
<head>
    <link href="/static/css/filemgr.css" rel="stylesheet">
    <script src="/static/js/filemgr.js"></script>
</head>
<body>
<form id="uploadform" action="/upload" method="POST" class="hidden" enctype="multipart/form-data">
    <input type="file" id="file" onchange="uploadprompt()" name="file">
    <input type="submit" id="submit" value="Submit">
</form>
<div>
    <!-- page background div -->
    <div id="filemgrlogocontainer">
        <!-- logo -->
        <img id="filemgrlogo" src="/static/image/logo.svg">
    </div>
    <div id="pageselectbuttoncontainer">
        <!-- container for file manager and media suite buttons -->
        <div id="filemgrbutton" class="button">
            <p class="buttontext">File Manager</p>
            <!-- file manager button -->
        </div>
        <!--<div id="filemgrunderline"> -->
        <!-- file manager button underline -->
        <div id="mediasuitebutton" class="button">
            <!-- unselected media suite button -->
            <p class="buttontext">Media Suite</p>
        </div>
    </div>
    <div id="superbox">
        <!-- super box around file manager -->
        <div id="upperbar">
            <!-- upper bar that houses search bar -->
            <div onclick="upload()"  id="uploadbutton" class="fmboxbutton">
                <!-- upload button -->
                <p class="fmbuttontext">Upload File</p>
            </div>
            <div id="filterbutton" class="fmboxbutton">
                <!-- filter button -->
                <p class="fmbuttontext">Filter</p>
            </div>
            <div id="searchbox" class="fmboxbutton">
                <!--search box-->
                <p class="fmbuttontext">Search Bar</p>
            </div>
        </div>
        <div id="filedisplaybox">
            <!-- sub box in which the actual files are displayed-->
            <div>
                <!-- dynamically generate file icons here-->
            </div>
        </div>
    </div>
</div>
<!--<form enctype="multipart/form-data" method="POST" id="uploadForm" action="/upload">
    <input type="file" onchange="uploadprompt()" id="FileUpload1" />
    <input type="hidden" id="fileName" name="fileName" />
    <input type="submit" id="submitButton" value="Upload" />
</form>-->


</body>
</html>