<html>
<head>
	<meta charset="UTF-8"/>
	<link href="/static/css/settings.css" rel="stylesheet">
	<script type="application/javascript" src="/static/js/settings.js"></script>
</head>
<body>

</body>
</html>