#filemgrlogocontainer {
    height: 100px;
    width: 350px;
    margin: auto;
}
#filemgrlogo{
    height: 100%;
    margin: auto;
    display: block;
}
.button {
    width: 45%;
    height: 30px;
    border-radius: 5px;
}
#filemgrbutton {
    float: left;
}
#mediasuitebutton {
    float: right;
}
.button:hover {
    background: #D1D1D1;
}
.buttontext {
    font-size: 25px;
    text-align: center;
    margin-top: 4px;
}
#pageselectbuttoncontainer {
    width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;

}
#superbox {
    border-style: solid;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 20px;
    height: 90%;
}
#filedisplaybox {
    overflow-y: scroll;
    height: 95%;
    position: relative;

}
#filetable {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#videoplayer {
    height: inherit;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}
#upperbar {
    margin-right: fill;
    margin-left: fill;
    display: flex;
    border-bottom: solid;
    height: 30px;
}
.fmboxbutton{
    height: 100%;
}
.fmboxbutton:hover {
    background: #D1D1D1;
}
.fmbuttontext {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}
#uploadbutton {
    border-right-style: solid;
    width: 200px;
}
#uploadbutton:hover {
    border-radius: 10px 0px 0px 0px;
}
#searchbox {
    height: 100%;
    flex-grow: 1;
}
#search {
    height: inherit;
    width: 100%;
    border: none;
}
#filterbutton {
    display: inline-block;
    float: right;
    border-left-style: solid;
    width: 200px;
}
#filterbutton:hover {
    border-radius: 0px 10px 0px 0px;
}
#filenamecolumn {
    width: 50%;
}
#filetypecolumn {
    width: 25%;
}
#uploaddatecolumn {
    width: 25%;
}
.oddtablerow {
    background: #d6d6d6;
}
.eventablerow {

}
.tablecell {
    text-align: center;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
th {
    padding: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: inset 0 -2px 0 black;
    background: white;

}
.hidden {
    opacity: 0;
    z-index: -1;
}
div{

}